google-adk
uvicorn
google-adk[a2a]
google-search-results

fpdf2>=2.7.0

google-genai>=0.6.0
pydantic>=2.0.0

python-dotenv>=1.0.0
asyncio>=3.4.3
typing-extensions>=4.0.0

# Optional: For the Verifier Tooling
google-search-results>=2.4.2